.card-img-top{
    height: 17rem;
    width: 21.8rem;
}

.img-modal{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.resumen {
    height: 12.9rem !important;
}


.doc{
    height: 12.9rem !important;
}

.reunion{
    height: 12.9rem !important;

}

.progresBar{
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto;
    margin-left: 150px !important;
}

.caru {

    color: blanchedalmond;
}


.puntero{
    cursor: pointer;
}