
<div id="main-wrapper">
  <section id="slider-sec" class="slider4">
    <div id="slider4" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover"
      data-interval="7000">
      <ol class="carousel-indicators">
        <li data-target="#slider4" data-slide-to="0" class="active"></li>
        <li data-target="#slider4" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active"><img src="../../../assets/images/comisionados/comision.jpg" alt="We are Digital Agency"
            class="slide-image img-fluid">
          <div class="slide-text slide_style_left">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-lg-10 title1">
                  
                  <h2 data-animation="animated fadeInLeft" class="font-bold m-0 p-b-30 font-20">4ª Reunion de la Comisión 
                      Iberoamericana de mecanismos alternativos de resolución de conflictos y TTD.</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item"><img src="../../../assets/images/comisionados/comision.jpg" alt="Building Magical Apps" class="slide-image img-fluid">
          <div class="slide-text">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-6"><label class="font-20" data-animation="animated fadeInDown">Best
                    Accounting Services</label>
                  <!-- <h2 data-animation="animated flipInX" class="title font-bold m-0 p-b-30">Get Free from Accounting
                    related Headaches</h2> -->
                  <p data-animation="animated fadeInLeft" class="m-b-40 hidden-sm-down">We offer services in various
                    jonar of Accounting.Let us take your all worry regarding your daily accounting and take rest.</p>
                    <a class="btn btn-info-gradiant btn-md btn-arrow" data-animation="animated fadeInUp" data-toggle="collapse" href="#">
                    <!-- <span>Check Our Services <i class="ti-arrow-right"></i></span> -->
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-control">
          <a class="left carousel-control-prev text-white font-14" href="#slider4" role="button" data-slide="prev">
            <span class="ti-arrow-left" aria-hidden="true">
            </span><b class="sr-only font-normal">Previous</b>
          </a>
            <a class="right carousel-control-next text-white font-14" href="#slider4" role="button" data-slide="next"><span
              class="ti-arrow-right" aria-hidden="true"></span><b class="sr-only font-normal">Next</b></a>
            </div> 
      </div>
    </div>
  </section>
  <section class="spacer feature7">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="title">Actividades Destacadas</h2>
          <h6 class="subtitle">En esta sección podras encontrar el resumen de actividades, noticias  y documentos en donde participan los comisionados. </h6>
        </div>
      </div>
      <div class="row m-t-40">
        <div class="col-md-4 wrap-feature7-box">
          <div class="" data-aos="flip-left" data-aos-duration="1200"><img class="rounded img-responsive reunion" src="../../../assets/img_ttd/reuniones.jpg"
              alt="wrappixel kit">
            <div class="m-t-30">
              <h5 class="font-medium">Reuniones Presenciales Comisión</h5>
              <p class="m-t-20">Tu puedes leer toda la información y el detalle de las reuniones presenciales de la comision marc-ttd  .</p>
              <a [routerLink]="['/reuniones']" class="text-info font-medium">Ver Más </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 wrap-feature7-box">
          <div class="" data-aos="flip-up" data-aos-duration="1200"><img class="rounded img-responsive resumen" src="../../../assets/img_ttd/concicliación-laboral.jpg"
              alt="wrappixel kit">
            <div class="m-t-30">
              <h5 class="font-medium">Resumen Noticioso</h5>
              <p class="m-t-20">Tu puedes obtener toda la informacion de las ultimas noticias relacionadas a la comisión marc-ttd.</p>
                <a [routerLink]="['/noticiero']" class="text-info font-medium">Ver Más </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 wrap-feature7-box">
          <div class="" data-aos="flip-right" data-aos-duration="1200"><img class="rounded img-responsive doc" src="../../../assets/img_ttd/images.png"
              alt="wrappixel kit">
            <div class="m-t-30">
              <h5 class="font-medium">Documentos</h5>
              <p class="m-t-20">En esta seccion podras encontrar todos los insumos y documentos de la comisión MARC-TTD .</p>
              <a [routerLink]="['/documentos']" class="text-info font-medium">Ver Más </a>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20 text-center"></div>
      </div>
    </div>
  </section>
  <section class="bg-light spacer feature3" id="statu">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="title">Objetivos y estatutos comisión</h2>
          <h6 class="subtitle">En esta sección usted podra encontrar los estatutos, visión ,misión y objetivos de la comisión MARC-TTD</h6>
        </div>
      </div>
      <div class="row m-t-40">
        <div class="col-md-6 wrap-feature3-box">
          <div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
            <div class="card-body d-flex">
              <div class="icon-space align-self-center mt-0 mb-0"><i class="icon-Double-Circle display-2 text-info"></i></div>
              <div class="align-self-center">
                <h5 class="font-medium"><a [routerLink]="['/mision']" class="linking">Misión <i class="ti-arrow-right"></i></a></h5>
                <p class="m-t-20 text-justify">La Comisión MARC-TTD contribuira a que los países mienbros cuenten con una justicia más ágil, 
                  rápida, eficax, transparente, restaurativa, accesible y 
                  que enfrente las ....... </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 wrap-feature3-box">
          <div class="card card-shadow" data-aos="fade-left" data-aos-duration="1200">
            <div class="card-body d-flex">
              <div class="icon-space align-self-center mt-0 mb-0"><i class="icon-Stopwatch display-2 text-info"></i></div>
              <div class="align-self-center">
                <h5 class="font-medium"><a [routerLink]="['vision']" class="linking">Visión <i class="ti-arrow-right"></i></a></h5>
                <p class="m-t-20 text-justify">
                    La Comisión MARC-TTD contribuira a que los países mienbros cuenten con una justicia más ágil, rápida, eficax, transparente, 
                    restaurativa, accesible y que enfrente las cusas próximas de ........ 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 wrap-feature3-box">
          <div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
            <div class="card-body d-flex">
              <div class="icon-space align-self-center mt-0 mb-0"><i class="icon-Thumbs-UpSmiley display-2 text-info"></i></div>
              <div class="align-self-center">
                <h5 class="font-medium"><a [routerLink]="['/objetivos']" class="linking">Objetivos  <i class="ti-arrow-right"></i></a></h5>
                <p class="m-t-20 text-justify">La Comisión MARC-TTD tiene como objetivo principal sistematizar, apoyar y asesorar a la Asamblea Plenaria 
                    y a los países que integran la Cumbre Judicial Iberoamericana, acerca de las buenas prácticas relacionadas 
                    con los mecanismos alternativos ........ </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 wrap-feature3-box">
          <div class="card card-shadow" data-aos="fade-left" data-aos-duration="1200">
            <div class="card-body d-flex">
              <div class="icon-space align-self-center mt-0 mb-0"><i class="icon-Window-2 display-2 text-info"></i></div>
              <div class="align-self-center">
                <h5 class="font-medium"><a [routerLink]="['/statutos']" class="linking"> Estatuto <i class="ti-arrow-right"></i></a></h5>
                <p class="m-t-20 text-justify">La Comisión Iberoamericana de Mecanismos Alternativos de Resolución de Conflictos y Tribunales de Tratamiento de Drogas y/o Alcohol, en adelante Comisión MARC-TTD, 
                    es un órgano dependiente de la Asamblea Plenaria de la Cumbre   ..........</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-20 text-center"></div>
      </div>
    </div>
  </section>
 
  <section class="spacer feature21 wrap-feature21-box bg-image img-fluid" style="background-image: url(&quot;../assets/images/comisionados/comision.jpg&quot;);">
    <div class="container">
      <div class="row text-white">
        <div class="col-md-5 both-space">
          <div class="" data-aos="fade-right" data-aos-duration="1200">
            <h2 class="text-white m-t-20 m-b-30">Comisión MARC-TTD</h2>
            <p class="op-8">4º Reunión de la Comisión de Mecanismos Alternativos de Resolución de Conflictos y Tribunales de tratamiento de Drogas y/o Alcohol. </p>
              <!-- <a class="btn btn-info-gradiant btn-md btn-arrow m-t-20" data-toggle="collapse" href="#f21"> -->
                <!-- <span>Let's
                Start <i class="ti-arrow-right"></i></span> -->
              <!-- </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog-home1 spacer bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="title">Nuestro Equipo</h2>
          <h6 class="subtitle">En esta sección tu podras obtener información, curriculum, nacionalidades y más sobre todos los integrantes de la comisión marc-ttd </h6>
        </div>
      </div>
      <div class="row m-t-40">
        <div class="col-md-4">
          <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200"><a href="!#"><img class="card-img-top img-fluid"
                src="../../../assets/images/comisionados/fc2.jpg" alt="wrappixel kit"></a>
            <div class="p-30">
              <!-- <div class="d-flex no-block font-14">
                <a href="#">Presidente</a>
                <span class="ml-auto">Sept 18, 2017</span>
              </div> -->
              <h5 class="font-medium m-t-20"><a href="!#" class="link"> Presidente</a></h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-shadow" data-aos="flip-up" data-aos-duration="1200"><a [routerLink]="['/we']"><img class="card-img-top img-fluid"
                src="../../../assets/images/comisionados/comisionados.jpeg" alt="wrappixel kit"></a>
            <div class="p-30">
              <div class="d-flex no-block font-14">
                <!-- <a href="#">Search Engine </a> -->
                <!-- <span class="ml-auto">Sept 18, 2017</span> -->
              </div>
              <h5 class="font-medium m-t-20"><a [routerLink]="['/we']" class="link">Comisionados </a></h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-shadow" data-aos="flip-right" data-aos-duration="1200"><a [routerLink]="['/secretaria']"><img class="card-img-top img-fluid"
                src="../../../assets/img_ttd/secretaria1.jpeg" alt="wrappixel kit"></a>
            <div class="p-30">
              <div class="d-flex no-block font-14">
                <!-- <a href="#">Search Engine</a> -->
                <!-- <span class="ml-auto">Sept 18, 2017</span> -->
              </div>
              <h5 class="font-medium m-t-20"><a [routerLink]="['/secretaria']" class="link">Secretearia Tecnica</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mini-spacer bg-info text-white c2a7">
    <div class="container">
      <div class="d-flex">
        <div class="display-7 align-self-center"> ¿ Deseas Contactarnos ? Envianos tu solicitud </div>
        <div class="ml-auto m-t-10 m-b-10"><button class="btn btn-outline-light btn-md" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" >Contactanos</button></div>
      </div>
    </div>
  </section>
</div> 

<!-- Modal for sent to email -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="img-modal" src="../assets/img_ttd/logo.jpg" alt="">
          <h5 class="modal-title" id="exampleModalLabel"  >Envio de Correo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="col-lg-12 fa-7x progresBar" *ngIf="envio_email">
                <i class="fas fa-spinner fa-pulse"></i>
            </div>
          <form  [formGroup]="registerForm"  (ngSubmit)="enviarCorreo()" *ngIf="!envio_email">
            <div class="form-group">
                <label >Nombre:</label>
                <input formControlName="nombre"  type="text" class="form-control" placeholder="Nombre"  [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" >
                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.nombre.errors.required">El Nombre es requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label >Apellidos:</label>
                <input formControlName="apellido"  type="text" class="form-control" placeholder="Apellidos" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }"  >
                <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.apellido.errors.required">El Apellido es requerido</div>
                </div>
            </div>
            <div class="form-group">
              <label >Email:</label>
              <input formControlName="correo"  type="text" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" >
              <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                  <div *ngIf="submitted && f.correo.errors.required">El Correo es requerido</div>
              </div>
            </div>
            <div class="form-group">
              <label >Mensage:</label>
              <textarea formControlName="mensaje" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.mensaje.errors }" ></textarea>
              <div *ngIf="submitted && f.mensaje.errors" class="invalid-feedback">
                  <div *ngIf="submitted && f.mensaje.errors.required">El Mensaje es requerido</div>
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Send message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <div >
    asdasdasd
    <i class="fas fa-spinner-third"></i>
  </div> -->
<script type="text/javascript">
  $(document).ready({
      swipeLeft: function (event, direction, distance, duration, fingerCount) {
        this.parent().carousel('next');
      },
      swipeRight: function () {
        this.parent().carousel('prev');
      },
      threshold: 0
    })
   

  </script>