<p>
</p>

<div class="container" id="obj">
    <div class="col-md-12 wrap-feature3-box">
        <div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space align-self-center mt-0 mb-0"><i class="icon-Thumbs-UpSmiley display-2 text-info"></i></div>
            <div class="align-self-center">
              <h5 class="font-medium"><a [routerLink]="['/objetivos']" class="linking">Objetivos  <i class="ti-arrow-right"></i></a></h5>
              <p class="m-t-20 text-justify">
                  Objetivo General: <br><br>
                  La Comisión MARC-TTD tiene como objetivo principal sistematizar, apoyar y asesorar a la Asamblea Plenaria y a los países que integran la Cumbre Judicial Iberoamericana, acerca de las buenas prácticas relacionadas con los mecanismos alternativos, restaurativos de resolución efectiva de las controversias y terapéuticos: los Tribunales de Tratamiento de Drogas y/o Alcohol.
              </p> 
              <p class="m-t-20 text-justify">
                  Objetivos Específicos:
                  <br><br>
                  a) Informar, divulgar y promover las experiencias y mecanismos de los MARC-TTD en los países miembros de la Cumbre Judicial Iberoamericana.
                  <br><br>
                  b) Dar el apoyo, orientación y seguimiento de las buenas prácticas y proyectos relacionados con los mecanismos alternativos, restaurativos de resolución efectiva de las controversias y Tribunales de Tratamiento de Drogas y/o Alcohol que se presenten ante la Comisión MARC-TTD.
                  <br><br>
                  c) Desarrollar y organizar un banco de buenas prácticas.
                  <br><br>
                  d) Propiciar la capacitación y formación judicial, en coordinación con los institutos autorizados en el marco de la Cumbre Judicial, para expandir las prácticas eficientes de resolución de los conflictos, justicia restaurativa, así como lo concerniente a los Tribunales de Tratamiento de Drogas y/o Alcohol.
                  <br><br>
                  e) Adoptar recomendaciones, acuerdos o convenios de cooperación que propicien la expansión de los mecanismos alternativos, restaurativos de resolución de conflictos y Tribunales de Tratamiento en Drogas y/o Alcohol.
              </p> 
              <a href="#statu"><i class="ti-arrow-left"></i>Volver</a>
            </div>
          </div>
        </div>
      </div>
</div>
