
<div class="container">
    <div class="col-md-12 wrap-feature3-box">
        <div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
          <div class="card-body d-flex">
            <div class="icon-space align-self-center mt-0 mb-0"><i class="icon-Double-Circle display-2 text-info"></i></div>
            <div class="align-self-center">
              <h5 class="font-medium"><a [routerLink]="['/vision']" class="linking">Mision <i class="ti-arrow-right"></i></a></h5>
              <p class="m-t-20 text-justify">La Comisión MARC-TTD contribuira a que los países mienbros cuenten con una justicia más ágil, 
                rápida, eficax, transparente, restaurativa, accesible y 
                que enfrente las cusas próximas de conflicto. Brindando un espacio de permante reflexión, apoyo,
                asesoría y seguimiento de las actividades relacionadas con los mecanismos 
                alternativos, restaurativos de resolucion efectiva y terapeuticos, como la aplicación de los 
               Tribunales de Tratamiento de Drogas y/o Alcohol. </p>
               <a href="#statu"><i class="ti-arrow-left"></i>Volver</a>
            </div>
          </div>
        </div>
      </div>
    </div> 