.w10{
    height: 25px;
    width: 20px;
}
.nav .nav-tabs #myTab{
    margin-left: 10px;
}

.busca{
    width: 34rem;

}

.nav-tabs{
    margin-left: 15px;
}

.pointer {
    cursor: pointer;
    color: dodgerblue;
}

.size{
    background-color: lightslategrey;
    color: white;
}

