
<body>
  <div class="topbar fixed-header">
    <div class="header11 po-relative demo-account">
      <div class="container">
        <nav class="navbar navbar-expand-lg h11-nav" id="my-nav" ><a class="navbar-brand" href="#"><img class="logo" src="../assets/img_ttd/logo.jpg"
              alt="wrapkit">MARC-TTD</a><button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#header11"
            aria-expanded="false" aria-label="Toggle navigation"><span class="ti-menu"></span></button>
          <div class="collapse navbar-collapse hover-dropdown flex-column" id="header11">
            <div class="ml-auto h11-topbar">
              <ul class="list-inline ">
                <li ><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <!-- <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                <li><a href="tel:+56987945765" ><i class="icon-Phone-2"></i> +56 225196609</a></li>
              </ul>
            </div>
            <ul class="navbar-nav ml-auto font-13">
              <li data-toggle="collapse" class="nav-item dropdown" ><a class="nav-link dropdown-toggle" [routerLink]="['home']" id="h11-dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inicio </a></li>
              <li data-toggle="collapse" class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="h11-dropdown"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">MARC-TTD <i class="fa fa-angle-down m-l-5"></i></a>
                <ul class="b-none dropdown-menu animated fadeInUp">
                  <li ><a class="dropdown-item" [routerLink]="['we']">Comisión MARC-TTD</a></li>
                  <li data-toggle="collapse"><a class="dropdown-item" [routerLink]="['secretaria']">Secretaria Técnica</a></li>
                  <li data-toggle="collapse"><a class="dropdown-item" [routerLink]="['documentos']">Documentos</a></li>
                  <li data-toggle="collapse"><a class="dropdown-item" [routerLink]="['mapa']">Ubicación</a></li>

                 
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" [routerLink]="['/comunicados']" id="h11-dropdown"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comunicados 
                  <!-- <i class="fa fa-angle-down m-l-5"></i> -->
                </a>
              
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="h11-dropdown"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eventos 
                  <!-- <i class="fa fa-angle-down m-l-5"></i> -->
                </a>
                <!-- <ul class="b-none dropdown-menu animated fadeInUp">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li class="divider" role="separator"></li>
                  <li class="dropdown-submenu"><a class="dropdown-toggle dropdown-item" href="#" data-toggle="dropdown">Dropdown
                      <i class="fa fa-angle-right ml-auto"></i></a>
                    <ul class="dropdown-menu b-none menu-right">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li class="divider" role="separator"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                      <li class="divider" role="separator"></li>
                      <li><a class="dropdown-item" href="#">One more separated link</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                  <li class="divider" role="separator"></li>
                  <li><a class="dropdown-item" href="#">One more separated link</a></li>
                </ul> -->
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" [routerLink]="['/multimedia']" id="h11-dropdown"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multimedia 
                  <!-- <i class="fa fa-angle-down m-l-5"></i> -->
                </a>
                <!-- <ul class="b-none dropdown-menu animated fadeInUp">
                  <li><a class="dropdown-item" href="#">Videos</a></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li class="divider" role="separator"></li>
                  <li class="dropdown-submenu"><a class="dropdown-toggle dropdown-item" href="#" data-toggle="dropdown">Dropdown
                      <i class="fa fa-angle-right ml-auto"></i></a>
                    <ul class="dropdown-menu b-none menu-right">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <li class="divider" role="separator"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                      <li class="divider" role="separator"></li>
                      <li><a class="dropdown-item" href="#">One more separated link</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                  <li class="divider" role="separator"></li>
                  <li><a class="dropdown-item" href="#">One more separated link</a></li>
                </ul> -->
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" [routerLink]="['/link']" id="h11-dropdown"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Link de Interes 
                  <!-- <i class="fa fa-angle-down m-l-5"></i> -->
                </a>
                
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
   
  </div>
  <div class="main-container" #scrollContainer>
    <router-outlet (activate)="onActivate($event, scrollContainer)" >
    </router-outlet>
  </div>
  

  <app-footer></app-footer>
</body>
