.card{
    margin-top: 10px !important;
    margin-right: 5px;
    margin: 0 auto;

}

.card-img-top{
    margin: 0 auto;
}

img{
    height: 15rem;
    width: 20rem;
    margin-top: 10px !important;

}

.img_notice{

    width: 450px;
    height: 290px;
}
