<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Articulo 1. Naturaleza
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                La Comisión Iberoamericana de Mecanismos Alternativos de Resolución de Conflictos y Tribunales de Tratamiento de Drogas y/o Alcohol, en adelante Comisión MARC-TTD, 
                es un órgano dependiente de la Asamblea Plenaria de la Cumbre Judicial Iberoamericana, el cual tiene como fin promover, apoyar y articular los mecanismos alternativos, 
                restaurativos de resolución efectiva de las controversias y los Tribunales de Tratamiento de Drogas y/o Alcohol, en el ámbito de los países miembros que la integran, 
                respetando la autonomía y voluntariedad de cada Institución. 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Articulo 2. Mision
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                La Comisión MARC-TTD contribuirá a que los países miembros cuenten con una justicia más ágil, rápida, eficaz, transparente, 
                restaurativa, accesible y que enfrente las causas próximas del conflicto. Brindará un espacio de permanente reflexión, apoyo, 
                asesoría y seguimiento de las actividades relacionadas con los mecanismos alternativos, restaurativos de resolución efectiva de las 
                controversias y terapéuticos, como la aplicación de los Tribunales de Tratamiento en Drogas y/o Alcohol. 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Articulo 3. Objetivos de la Comisión
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                La Comisión MARC-TTD tiene como objetivo principal sistematizar, apoyar y asesorar a la Asamblea Plenaria y a los países que integran la Cumbre Judicial Iberoamericana,
                acerca de las buenas prácticas relacionadas con los mecanismos alternativos, restaurativos de resolución efectiva de las controversias y terapéuticos: los Tribunales de 
                Tratamiento de Drogas y/o Alcohol.
                <br><br>
                3.2. Objetivos Específicos:
                <br><br> 
                a) Informar, divulgar y promover las experiencias y mecanismos de los MARC-TTD en los países miembros de la Cumbre Judicial Iberoamericana.
                <br><br> 
                b) Dar el apoyo, orientación y seguimiento de las buenas prácticas y proyectos relacionados con los mecanismos alternativos, restaurativos de resolución efectiva de las controversias y Tribunales de Tratamiento de Drogas y/o Alcohol que se presenten ante la Comisión MARC-TTD.
                <br><br> 
                c) Desarrollar y organizar un banco de buenas prácticas.
                <br><br> 
                d) Propiciar la capacitación y formación judicial, en coordinación con los institutos autorizados en el marco de la Cumbre Judicial, para expandir las prácticas eficientes de resolución de los conflictos, justicia restaurativa, así como lo concerniente a los Tribunales de Tratamiento de Drogas y/o Alcohol.
                <br><br> 
                e) Adoptar recomendaciones, acuerdos o convenios de cooperación que propicien la expansión de los mecanismos alternativos, restaurativos de resolución de conflictos y Tribunales de Tratamiento en Drogas y/o Alcohol.
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingfour">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    Articulo 4. Integración
                </button>
              </h2>
            </div>
            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
              <div class="card-body text-justify">
                  La Comisión MARC-TTD estará conformada por siete personas como integrantes, con una representación por país, quienes ejercerán el cargo por un período de dos años, pudiendo ser reelectos.
                  Los países integrantes de la Comisión serán designados por la Asamblea al momento de aprobarse su constitución y los representantes elegidos nominativamente por cada uno de los países que 
                  la conforman o de manera directa por la propia Asamblea.
                  <br><br> 
                  La primera conformación de la Comisión estará integrada por Bolivia, Chile, Costa Rica, 
                  Colombia, Ecuador, España, Honduras, Nicaragua, Panamá, Paraguay y República Dominicana.
                  <br><br> 
                  <b style="color: black">
                  4.1 De los miembros de la Comisión.
                  </b>
                
                  <br><br> 
                  Los miembros de la Comisión tendrán derecho a:
                  
                  Recibir la convocatoria de las materias a tratar en las reuniones. La documentación sobre los temas que sean tratadas estará a disposición de los miembros de la Comisión.
                  
                  Participar en los debates de las sesiones ordinarias como extraordinarias.
                  
                  Ejercer su derecho al voto y formular su voto particular, así como expresar el sentido del mismo y los motivos que lo justifican.
                  
                  Formular peticiones y preguntas.
                  
                  Obtener la información precisa para cumplir las funciones asignadas.
                  
                  Cuantas otras funciones sean inherentes a su condición.
              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Articulo 5. Observadores
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    Se podrá invitar como observadores a las actividades que se estimen convenientes, 
                    a representantes de instituciones de derecho público o privado vinculados con el sector justicia, 
                    organismos internacionales, profesionales, personas usuarias, organismos no gubernamentales, 
                    representantes del sector académico y de investigación, así como a agrupaciones comunitarias que 
                    contribuyan a orientar y sistematizar los objetivos de la Comisión MARC-TTD y proyectos específicos 
                    de ésta. 
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Articulo 6. Funciones de la Comisión
                    </button>
                  </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                  <div class="card-body">
                      a) Diseñar las herramientas normativas y técnicas necesarias para lograr el cumplimiento de los objetivos.
                      <br>
                      b) Coordinar con las distintas instancias nacionales e internacionales, agendas conjuntas, que permitan el intercambio, apoyo, sistematización y orientación de la aplicación de los MARC-TTD.
                      <br>
                      c) Comunicar a la Secretaría Permanente, a la Secretaría Pro-Témpore y a las Coordinaciones Nacionales la información que se genere en el seno de la Comisión.
                      <br>
                      d) Proponer a la Asamblea Plenaria, de manera formal y por escrito, iniciativas, acciones, buenas prácticas regionales que hagan efectiva la aplicación de los medios alternativos, restaurativos de solución de conflictos y los Tribunales de Tratamiento en Drogas y/o Alcohol.
                      <br>
                      e) Realizar un informe bianual o cuando así sea solicitado, ante la Asamblea Plenaria, en el cual se detallarán las actividades realizadas.
                      <br>
                      f) Cualquier otra actividad que sea encomendada por la Asamblea Plenaria de la Cumbre.
                  </div>
                </div>
              </div>
              <div class="card">
                  <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          Articulo 7. Facultades y atributos de la Comisión
                      </button>
                    </h2>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        La Comisión MARC-TTD tendrá la facultad de adoptar recomendaciones, acuerdos o convenios de cooperación en las materias a su cargo, que propicien una efectiva aplicación y ejecución de los mecanismos alternativos,
                         restaurativos de resolución de conflictos y Tribunales de Tratamiento en Drogas y/o Alcohol.
                    </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header" id="headingHeight">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
                          Articulo 8. Estructura organizativa de la Comsisión 
                      </button>
                    </h2>
                  </div>
                  <div id="collapseHeight" class="collapse" aria-labelledby="headingHeight" data-parent="#accordionExample">
                    <div class="card-body">
                        8.1. Presidencia
                        <br><br>
                        En la primera reunión que celebre la Comisión se designará una Presidencia, cuyo mandato será por dos años con posibilidad de reelección. 
                        Todo con mayoría absoluta de sus miembros permanentes.
                        <br><br>
                        8.2. Funciones de la Presidencia
                        Las funciones de la Presidencia serán, entre otras:
                        <br><br>
                        a) Presidir las sesiones de trabajo de la Comisión.
                        <br><br>
                        b) Representar a la Comisión ante las demás instancias de la Cumbre Judicial.
                        <br><br>
                        c) Convocar las reuniones ordinarias y extraordinarias de la Comisión.
                        <br><br>
                        d) Recibir, tramitar y archivar las solicitudes de asesoría, consultas o cualquier otro requerimiento que se le formule.
                        <br><br>
                        e) Ejecutar los acuerdos adoptados por la Comisión.
                        <br><br>
                        f) Coordinar sus trabajos con las Secretarías Permanente y Pro Tempore, así como con la Comisión Permanente de Coordinación y Seguimiento.
                        <br><br>
                        g) Suscribir, en representación de la Comisión, los informes escritos que presente a la Asamblea Plenaria y a la Comisión Permanente de Coordinación y Seguimiento.
                        <br><br>
                        h) Elaborar las actas de las reuniones ordinarias y extraordinarias de la Comisión y remitirlas a la Secretaría Permanente de la Cumbre y a la Comisión de Coordinación y Seguimiento.
                        <br><br>
                        i) Facilitar los medios para llevar a cabo las actividades de la Comisión.
                        <br><br>
                        8.3. Secretaría Técnica
                        <br><br>
                        Como apoyo a la Presidencia y a la Comisión, existirá una secretaría técnica que será asumida por la institución del país al que pertenezca la persona designada en la Presidencia, o según se acuerde por la mayoría absoluta de los miembros permanentes.
                        <br><br>
                        Las funciones de la Secretaría Técnica serán:
                        <br><br>
                        a) Apoyar a la Presidencia en sus funciones.
                        <br><br>
                        b) Facilitar la comunicación entre los miembros de la Comisión.
                        <br><br>
                        c) Coordinar las reuniones ordinarias y extraordinarias que se convoquen, en colaboración con la Institución del país anfitrión.
                        <br><br>
                        d) Coordinar las actividades que se programen por la Comisión.
                        <br><br>
                        e) Realizar todas aquellas otras actividades que le sean encomendadas por la Comisión o por la Presidencia.
                        <br><br>
                        f) Emitir y recibir los actos de comunicación relacionados con la Comisión y, por tanto, las notificaciones, peticiones de datos, rectificaciones o cualquiera otra clase de información de la que deba tener conocimiento.
                        <br><br>
                        g) Tramitar los asuntos que sean competencia de la Comisión, redactar y preparar la autorización por los representantes de las actas de las sesiones, que contendrán los acuerdos adoptados con una sucinta referencia a los principales puntos de debate. Cuando los asistentes quieran que determinados intervenciones consten expresamente en el acta, lo solicitarán por escrito al Secretario adjuntando su intervención.
                        <br><br>
                        h) Expedir certificaciones de las consultas, dictámenes y acuerdos aprobados.
                        <br><br>
                        i) Utilizar sistemáticamente medios idóneos para hacer llegar los distintos instrumentos de trabajo con rapidez y eficacia.
                    </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header" id="headingNine">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                          Articulo 9. reuniones
                      </button>
                    </h2>
                  </div>
                  <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                    <div class="card-body">
                    </div>
                    <br> <br> 
                    La Comisión MARC-TTD celebrará una reunión ordinaria con periodicidad anual. También realizará las reuniones extraordinarias que sean necesarias, previo acuerdo mayoritario de los integrantes de la Comisión.

                    La Comisión MARC-TTD será convocada por la Secretaría de la misma, por decisión de su presidencia, o a petición de la mayoría de sus miembros permanentes.

                    Las reuniones podrán tener carácter ordinario y extraordinario. Las convocatorias ordinarias serán notificadas a los miembros de la Comisión con una antelación mínima de 30 días al de la fecha prevista para la celebración de la sesión, que podrán ser de carácter presencial o a través de video conferencia. Sin perjuicio de otras formas de comunicación, las notificaciones se llevarán a cabo mediante correos electrónicos que cada miembro de la Comisión señalará.

                    Las convocatorias de sesiones extraordinarias tendrán lugar, exclusivamente, en casos de urgente necesidad, y deberán ser notificadas con, al menos, una antelación de 15 días a la fecha prevista para celebrar la sesión. En estos casos la notificación podrá hacerse efectiva, a través de las direcciones de correo electrónico facilitadas por los miembros de la Comisión, considerándose ésta realizada siempre y cuando se acuse recibo por el mismo medio o por otra via fidedigna.

                    En las notificaciones de las convocatorias se hará constar el tema a tratar, lugar, fecha, hora y el carácter presencial o no de la misma para la celebración de la sesión.
                    <br><br>  
                    9.1 Inicio y desarrollo de las sesiones.

                    Para la válida constitución de la Comisión, a efecto de la celebración de sesiones, deliberaciones y adopción de acuerdos, se requerirá la presencia del representante de la Presidencia y representante de la Secretaria y de la mayoría absoluta de sus miembros.

                    La Presidencia de la Comisión podrá invitar a las reuniones a representantes de las distintas comisiones y grupos de trabajo de la Cumbre, y estos podrán participar con voz y sin derecho a voto.
                    <br><br> 
                    9.2 Adopción de acuerdos.

                    Los acuerdos de la Comisión serán adoptados por mayoría de votos de los/as asistentes a las sesiones.

                    La presidencia de la Comisión dirimirá, con su voto, los posibles empates a efectos de adoptar acuerdos.

                    Dado el carácter asesor de la Comisión, sus acuerdos se materializarán en informes que serán dirigidos al Grupo de Trabajo pertinente o a las respectivas Secretarías de la Cumbre, sin carácter de vinculante para ellos.

                    De cada sesión que celebre la Comisión se levantará acta, debiendo especificar, necesariamente, los/as asistentes, los temas tratados, las circunstancias del lugar y tiempo, en que se haya celebrado, si es de carácter presencial o no, los puntos principales de las deliberaciones, así como el contenido de los acuerdos adoptados.
                  </div>
              </div>
              <div class="card">
                  <div class="card-header" id="headingTeen">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTeen" aria-expanded="false" aria-controls="collapseTeen">
                          Articulo 10. Enmiendas
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTeen" class="collapse" aria-labelledby="headingTeen" data-parent="#accordionExample">
                    <div class="card-body">
                        Estas normas de funcionamiento podrán ser enmendadas por la Asamblea Plenaria, a petición de la propia Comisión MARC-TTD, 
                        o cualquiera de sus miembros. 
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header" id="headingEleven">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                          Articulo 11. Entrada en Vigor 
                      </button>
                    </h2>
                  </div>
                  <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                    <div class="card-body">
                        El presente Estatuto entrará en vigor a partir del mismo día de su aprobación en la Asamblea Plenaria de la 
                        XVIII Cumbre Judicial Iberoamericana que se llevará a efecto en Asunción Paraguay en el mes de abril del año 2016.                    
                    </div>
                  </div>
              </div>
      </div>
</div>