<div class="container">
  <div class="row col-lg-12 col-md-12 fila1">
    
    <div class="col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center margen">
        <!-- normal -->
        <div class="effect eff-29 comi d-flex justify-content-center">
          <img src="../../../assets/images/comisionados/fc2.jpg" alt="img" class="comi mg-fluid">
            <div class="caption d-flex justify-content-center">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/chile.png" alt="wrappixel kit">
                </div>
                Roberto Ignacio Contreras Olivares
              </h4>
                <div class="text">
                  <p>Presidente</p>
                </div>
              <a class="btn" (click)="curriculum('fc');" data-toggle="modal" data-target="#exampleModal" href="">Curriculum</a>
            </div>
        </div>
        <!-- end normal -->
     </div>


     <div class="col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center margen">
        <!-- normal -->
        <div class="effect eff-29 comi d-flex justify-content-center">
          <img src="../../../assets/images/comisionados/paguirre.jpg" alt="img" class="comi mg-fluid">
            <div class="caption d-flex justify-content-center">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/ecuador.png" alt="wrappixel kit">
                </div>
                María Paulina Aguirre Suárez
              </h4>
                <div class="text">
                  <p>Comisionado</p>
                </div>
              <a class="btn" (click)="curriculum('fc');" data-toggle="modal" data-target="#exampleModal" href="">Curriculum </a>
            </div>
        </div>
        <!-- end normal -->
     </div>

    <div class="col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center margen">
        <!-- normal -->
        <div class="effect eff-29 comi d-flex justify-content-center">
          <img src="../../../assets/images/comisionados/maria_del_mar.jpg" alt="img" class="comi mg-fluid">
            <div class="caption">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/españa.png" alt="wrappixel kit">
                </div>
                María del Mar Cabrejas Guijarro
              </h4>
                <div class="text">
                  <p>Comisionado</p>
                </div>
              <a class="btn" href="">Curriculum </a>
            </div>
        </div>
        <!-- end normal -->
     </div>

     <div class="col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center margen">
      <!-- normal -->
      <div class="effect eff-29 comi d-flex justify-content-center">
        <img src="../../../assets/images/comisionados/angel_romero.jpg" alt="img" class="comi mg-fluid">
          <div class="caption">
            <h4>
              <div class="bandera">
                <img class="bandera" src="../../../assets/images/comisionados/peru.jpg" alt="wrappixel kit">
              </div>
              Ángel Henry Romero Días
            </h4>
              <div class="text">
                <p>Comisionado</p>
              </div>
            <a class="btn" href="">Curriculum </a>
          </div>
      </div>
      <!-- end normal -->
   </div>

  </div>

  

  <div class="row col-lg-12 fila2">


    <div class="col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center margen">
        <!-- normal -->
        <div class="effect eff-29 comi d-flex justify-content-center">
          <img src="../../../assets/images/comisionados/alma_mendez.png" alt="img" class="comi mg-fluid">
            <div class="caption">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/paraguay.png" alt="wrappixel kit">
                </div>
                Alma María Méndez de Buongermini
              </h4>
                <div class="text">
                  <p>Comisionado</p>
                </div>
              <a class="btn" href="">Curriculum </a>
            </div>
        </div>
        <!-- end normal -->
     </div>

    <div class="col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center margen">
        <!-- normal -->
        <div class="effect eff-29 comi d-flex justify-content-center">
          <img src="../../../assets/images/comisionados/adda_venegas.JPG" alt="img" class="comi mg-fluid">
            <div class="caption">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/nicaragua.png" alt="wrappixel kit">
                </div>
                Adda Benecia Venegas Ramos
              </h4>
                <div class="text">
                  <p>Comisionado</p>
                </div>
              <a class="btn" href="">Curriculum</a>
            </div>
        </div>
        <!-- end normal -->
     </div>

    <div class="col-sm-5 col-md-5 col-lg-5 d-flex justify-content-center margen">
        <!-- normal -->
        <div class="effect eff-29 comi d-flex justify-content-center">
          <img src="../../../assets/images/comisionados/ranulfo_rojas.jpg" alt="img" class="comi img-fluid">
            <div class="caption">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/guatemala.png" alt="wrappixel kit">
                </div>
                Ranulfo Rafael Rojas Cetina
              </h4>
                <div class="text">
                  <p>Comisionado</p>
                </div>
              <a class="btn" href="">Curriculum </a>
            </div>
        </div>
        <!-- end normal -->
     </div>
  </div>
</div>

<!-- Modal for sent to email -->
<div class="modal left fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="img-modal" src="../assets/img_ttd/pjud_logo.png" alt="">
          <h5 class="modal-title align-items-center" id="exampleModalLabel"  >Curriculum Vitae</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate   >
            <section>
              <span class="text-center"> <b class="text-center"> Datos Profesional </b> </span>
              <div class="modal-header">
                <span class="text-justify" >
                  {{ pais[0] }}
                </span>
              </div>
            </section>
            <section>
              <div class="modal-body">
              <span class="text-center"> <b class="text-center"> Últimos Cargos </b> </span>
                <span>
                  <ul *ngFor="let val of pais[1]">
                      <li class="text-justify" *ngIf="val !=''"  > {{ val }} </li>
                  </ul>
                </span>
              </div>
            </section>
            <div class="modal-footer">
              <div>
                 <span>
                   <img src="../../../assets/images/pdf.png" alt="">
                    {{ cv[0]?.name }} Curriculum Completo
                 </span>
              </div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>