.container{
    margin-top: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* img{
    padding-top: 5px;  
    height: 5rem;
    width: 5rem;
    display: inline;
    margin: 0 auto;
  } */
  /* .persona{
    padding-top: 5px;  
    height: 8rem;
    width: 8rem;
    display: inline;
    margin: 0 auto;
  } */
  .bandera{
      height: 3.5rem !important;
      width: 4rem !important;
      margin:0 auto;
  }
  span{
      margin-top: 9px;
      padding-left: 13px;
  }

  .fila2{
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
  }

/* .card{
    background-color: #E5E8E8;
} */

/* h5{
    align-items: center;
    justify-items: center;
    align-content: center;
    margin-left: 88px;
} */
.comi {
    height: 18.5rem !important;
    width: 20.5rem !important;
    
}

h4 {
    color: white;
}

.modal.left.fade.show .modal-dialog{
    left:0;
}

img{
    width: 6rem;
    height: 5rem;
    margin-bottom: 10px;
}

.margen{
    margin-bottom: 40px !important;
    margin: 0 auto;
}

h5{
    align-content: center !important;
    text-align: center !important;
    margin: 0 auto;
}