<div class="col-lg-12">
  <section>
    <br>
    <h1 class="text-center">Nuestros Link de Interes </h1>
    <div class="row col-lg-12">
      <div class="img">
        <a href="http://www.aiamp.info/"><img class="img-fluid" src="../../../assets/img_ttd/aiamp.png" alt=""></a><br><br>
      </div>
      <div class="img">
        <a href="http://aidef.org/"><img class="img-fluid" src="../../../assets/img_ttd/aidef.png" alt=""></a><br><br>
      </div>
      <div class="img">
        <a href="https://comjib.org/"><img class="img-fluid" src="../../../assets/img_ttd/conjib.png" alt=""></a>
      </div>
      <div class="img">
          <a href="http://decs.pjud.cl/cjc/index.php/que-es-cjc/atlas-iberoamericano-de-justicia"> <img src="../../../assets/img_ttd/atlas.png" alt="" class="img-fluid" > </a>
      </div>
    </div>
    <br><br>
    <div class="row col-lg-12">
      <div class="img d-flex justify-content-center">
          <a href="http://decs.pjud.cl/atlas-marc-tdd/"> 
          <img src="../../../assets/images/Atlas_ibero.jpg" class="atlasimg d-flex justify-content-between" alt="" > 
          <br>
          <span class="atlas d-flex justify-content-center">Atlas Iberoamericano de mecanismos alternativos y restaurativos de resolución de conflictos</span></a>
      </div>
    </div>
  </section>
</div>