<div class="col-lg-12">
  <section>
    <br><br>
    <h1 class="text-center">Nuestros Link de Interes </h1>
    <div class="row col-lg-12">
      <div class="img">
        <a href="http://www.aiamp.info/"><img src="../../../assets/img_ttd/aiamp.png" alt=""></a><br><br>
      </div>
      <div class="img">
        <a href="http://aidef.org/"><img src="../../../assets/img_ttd/aidef.png" alt=""></a><br><br>
      </div>
      <div class="img">
        <a href="https://comjib.org/"><img src="../../../assets/img_ttd/conjib.png" alt=""></a>
      </div>
      <div class="img">
          <a href="http://decs.pjud.cl/cjc/index.php/que-es-cjc/atlas-iberoamericano-de-justicia"> <img src="../../../assets/img_ttd/atlas.png" alt="" > </a>
      </div>
    </div>
  </section>

</div>