.videos{
    margin-left: 17px;
    /* background-color: #ee6e73; */
    margin-top: 1rem;
  }
  
  .midiv{
    background-color: #8d8a8b;
    margin-top: 0;
    height: 100%;
    margin-left: -22px;
    flex: auto;
    align-items: center;
    justify-content: center;
  }
  h4{
    background-color: #747171;
    margin-top: 0;
  }