<div class="container">
    <div class="row col-lg-12 secretaria d-flex justify-content-center">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <!-- normal -->
            <div class="effect eff-29 comi">
              <img src="../../../assets/images/comisionados/fc2.jpg" alt="img" class="comi">
                <div class="caption">
                  <div class="text">
                      <h3>
                        Roberto Ignacio Contreras Olivares
                      </h3>
                        <p>Ministro Presidente</p>
                        <p>JEFE Unidad TTD.</p>
                        <!-- <em>Email: <span>gurra@pjud.cl</span></em> <br> -->
                        <!-- <em><a href="tel:+56225196609" ><i class="icon-Phone-2"></i> + 56 22 51 96 609</a></em> -->
                  </div>
                  <a class="btn"  href="">Curriculum </a>
                </div>
            </div>
            <!-- end normal -->
         </div>
    </div>


    <div class="row col-lg-12 secretaria">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <!-- normal -->
            <div class="effect eff-29 comi">
              <img src="../../../assets/images/comisionados/georgette-1.jpg" alt="img" class="comi">
                <div class="caption">
                  <div class="text">
                      <h3>
                        Georgette Urra Garcia
                      </h3>
                      <h5 class="font-medium m-t-20"> Abogada  </h5>
                      <em>Email: <span>gurra@pjud.cl</span></em> <br>
                      <em><a href="tel:+56225196609" ><i class="icon-Phone-2"></i> + 56 22 51 96 609</a></em>
                  </div>
                  <a class="btn" (click)="curriculum('fc')" data-toggle="modal" data-target="#exampleModal" href="#" href="">Curriculum </a>
                </div>
            </div>
            <!-- end normal -->
         </div>

      
      

      <div class="col-sm-4 col-md-4 col-lg-4">
          <!-- normal -->
          <div class="effect eff-29 comi">
            <img src="../../../assets/images/comisionados/rodrigo.jpg" alt="img" class="comi">
              <div class="caption">
                <div class="text">
                    <h3>
                        Rodrigo Emilio Jeldes Ponce
                    </h3>
                    <h5 class="font-medium m-t-20"> 
                      Ingeniero Informático, 
                      Docente Duoc UC,
                      Analista Programador, 
                      Licenciado en Educación 
                    </h5>
                    <em>Email: <span>rjeldesp@pjud.cl</span> </em> <br>
                    <em><a href="tel:+56225196650" ><i class="icon-Phone-2"></i> + 56 22 51 96 650</a>   </em>
                </div>
                <a class="btn" (click)="curriculum('RJ')" data-toggle="modal" data-target="#exampleModal" href="#">Curriculum </a>
              </div>
          </div>
          <!-- end normal -->

       </div>

       <div class="col-sm-4 col-md-4 col-lg-4">
          <!-- normal -->
          <div class="effect eff-29 comi">
            <img src="../../../assets/images/comisionados/ap.jpeg" alt="img" class="comi">
              <div class="caption">
                <div class="text">
                    <h3>
                        Andrea Cecilia Sanhueza Lucero
                    </h3>
                    <h5 class="font-medium m-t-20">Abogada</h5>
                    <em>Email: <span>asanhuezal@pjud.cl</span> </em>
                    <br>
                    <em><a href="tel:+56225196634" ><i class="icon-Phone-2"></i> + 56 22 51 96 634</a>   </em>
                </div>
                <a class="btn" (click)="curriculum('flaca')"  data-toggle="modal" data-target="#exampleModal" href="#">Curriculum </a>
              </div>
          </div>
          <!-- end normal -->
       </div>
    </div>
  </div>
  

<!-- Modal for sent to email -->
<div class="modal left fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img class="img-modal" src="../assets/img_ttd/pjud_logo.png" alt="">
          <h5 class="modal-title align-items-center" id="exampleModalLabel"  >Curriculum Vitae</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate   >
            <section>
              <span class="text-center"> <b class="text-center"> Datos Profesional </b> </span>
              <div class="modal-header">
                <span class="text-justify" >
                  {{ pais[0] }}
                </span>
              </div>
            </section>
            <section>
              <div class="modal-body">
              <span class="text-center"> <b class="text-center"> Últimos Cargos </b> </span>
                <span>
                  <ul *ngFor="let val of pais">
                      <li class="text-justify" *ngIf="val !=''"  > {{ val }} </li>
                  </ul>
                </span>
              </div>
            </section>
            <div class="modal-footer">
              <div class="offset-1 align-content-start pdfs">
                 <span>
                   <img class="pdf"  src="../../../assets/images/pdf.png" alt="">
                    {{ cv[0]?.name }} Curriculum Completo
                 </span>
              </div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
