.secretaria{
    padding-top: 15px;
    margin-bottom: 1rem;
}

.persona{
    padding-top: 15px;  
    height: 10rem;
    width: 9rem;
    display: inline;
    margin: 0 auto;
  }

  .hover:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .fc{
    margin: 0 auto;
    align-content: center;
    align-items: center;
    /* margin-left: 21.5rem; */
    display: inline;
  }

  /* body{
    background-color: deepskyblue;
  } */

  h3{
    color: white !important;
  }

  h5{
    color: white !important;
  }

  .comi{
    width: 20rem !important;
  }

  .text{
    padding-top: 20px !important;
  }

  .pdf{
    height: 100px;
    width: 88px;

  }

  .img-modal{
    height: 100px;
    width: 88px;
  }

  .pdfs{
    float: left;
    margin-right: 8rem !important;
  }